:root {
    /* document for Color */
    --royalBlue: #3F47CD;
    --royalBlueHover: #767be4;
}

body {
    background: var(--royalBlueHover);
}

input {
    border-bottom: 2px solid var(--royalBlueHover);
}